
      <h1>
        Personal Details
      </h1>

      <table class="table  ">
        <thead>
          <tr>
            <th>Full Name:</th>
            <td>{{person.Fullname}}</td>
          </tr>
          <tr>
            <th>Residential Address</th>
            <td>{{person.ResidentialAddress}}</td>
          </tr>
          <tr>
            <th>Languages Known </th>
            <td>{{person.LanguagesKnown}}</td>
          </tr>
          <tr>
            <th>Marital Status</th>
            <td>{{person.MaritalStatus}}</td>
          </tr>
          <tr>
            <th>Hobbies</th>
            <td>{{person.Hobbies}}</td>
          </tr>
        </thead>
      </table>
