


<br>
<div class="li">
<div class="container "><br><br>
  <h1 class="m"> RESUME</h1>
  <div class="row">
    <div class="col">
     <app-namede ></app-namede>
</div>

<div class="row">
  <app-career-objective></app-career-objective>
</div>
<div class="row">
  <app-education></app-education>
</div><br><br>
<div class="row">
  <app-skill></app-skill>
</div><br><br>
<div class="row">
  <app-projectworking></app-projectworking>
</div><br>
<div class="row">
  <app-parsoninfo></app-parsoninfo>
</div><br><br>

<div class="row">
  <app-declaration></app-declaration>
</div>
  </div>
</div>
